.navCardContainer {
    position: relative;
    height: 100vh;
    display: flex;
}

.navCard {
    width: 400px;
    height: 100vh;
    transform: skewX(-10deg);
    transition: width 1s;
}

.navCard:hover {
    width: 80vw;
}

.navCardTitle {
    position: relative;
    top: 100px;
    font-weight: 200;
    transform: skewX(10deg);
}

.navCardImg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: skewX(10deg);
}