.chart-container {
    font-family: Arial;
    height: 500px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.contextmenu {
    position: absolute;
    width: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    overflow: hidden;
    z-index: 9999999;

}

.contextmenu li {
    border-left: 3px solid transparent;
    transition: ease .2s;
}

.contextmenu li a {
    display: block;
    padding: 10px;
    font-family: monospace;
    text-decoration: none;
    transition: ease .2s;
}

.contextmenu li:hover {
    border-left: 3px solid #aaa;
}

.contextmenu li:hover a {
    color: #fff;
    background-color: #333;
}

.tab-wrapper {
    margin: 60px auto;
    width: 90%;
}

.tab-menu li {
    position: relative;
    background-color: #fff;
    color: #bcbcbc;
    display: inline-block;
    padding: 20px 40px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 0;
}

.tab-menu li:hover {
    color: #464646;
}

.tab-menu li.active {
    color: #464646;
    opacity: 1;
}

.tab-menu li.active:hover {
    color: #464646;
}

.tab-content>div {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    min-height: 200px;
}

.line {
    position: absolute;
    width: 0;
    height: 7px;
    background-color: aqua;
    top: 0;
    left: 0;
}


