/* portfolio */
.portfolioContainer {
    height: 100vh;
    position: relative;
    margin-top: 140px;
}

.portfolioWrapper h2 {
    text-align: left;
    border-bottom: 1px solid #17191A;
    width: 50%;
}


.portfolioWrapper p {
    color: #17191A;
    width: 50%;
}


.portfolioContainer .landingPageImg {
    width: 480px;
    position: absolute;
    top: 85px;
    z-index: -10;
    right: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px gray;
}

