/* topics */
.topicsContainer {
    height: 100vh;
    position: relative;
}

.topicWrapper {
    margin-top: 40px;
}

.topicsContainer h2 {
    font-family: Lora;
    text-align: center;
    margin-bottom: 20px;
}

.topics {
    justify-content: center;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: auto auto auto;
}

.topicBox {
    display: inline-grid;
    width: 240px;
    height: 400px;
    border-radius: 25px;
    -webkit-transition: width 0.8s, height 0.8s;
    transition: width 0.4s, height 0.4s;
    background-size: cover;
    color: #fff;
}

.topicBox b {
    margin-left: 20px;
    margin-top: 10px;
}

.topicBox:hover {
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
  
    width: 260px;
    height: 440px;
}

.topicBox#webdev {
    background-image: url('./images/webdev_card2.jpg');
    background-repeat: no-repeat;
}

.topicBox#gamedev {
    background-image: url('./images/gamedev_card.jpg');
    background-repeat: no-repeat;
}

.topicBox#artMusic {
    background-image: url('./images/artAndMusic_card.jpg');
    background-repeat: no-repeat;
}


.topicTitle {
    color: #fff;
    position: relative;
    top: 362px;
    left: 10px;
    display: block;
}
